.normal
{
    FONT-FAMILY: verdana,Arial,Helvetica,sans-serif;
    FONT-SIZE: 12px
}
.norm
{
    FONT-FAMILY: verdana,Arial,Helvetica,sans-serif;
    FONT-SIZE: 11px
}

.small
{
    FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
    FONT-SIZE: 10px
}
