a {  color: #000099; text-decoration: none}
a:hover {  color: #D70227; text-decoration: underline}
BODY
{scrollbar-face-color: #E6B414; scrollbar-shadow-color: #E6B414; 
scrollbar-highlight-color: #000000; scrollbar-3dlight-color: #E6B414; 
scrollbar-darkshadow-color: #000000; scrollbar-track-color: #E6B414; 
scrollbar-arrow-color: #000000}